h1 {
    color : black;
}
.type-button {
    font-size: 14;
    color: #fff;
    background-color: #007ff5;
    border: none;
}
.type-button:hover {
    color: #fff;
    background: #00b0f5;
    cursor: pointer;
    border: none;
};